<h3 class="ui header">{{t 'forms.i-i-s-flexberry-gis-demo-request-e.caption'}}</h3>

{{#if errorMessages}}
  {{#each errorMessages as |currentError|}}
    {{ui-message
      type='error'
      closeable=true
      visible=true
      title='Error occurred'
      message=currentError
    }}
  {{/each}}
{{/if}}
<form class="ui {{state}} form flexberry-vertical-form" role="form">
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  <label>{{t 'forms.i-i-s-flexberry-gis-demo-request-e.date-caption'}}</label>
  {{
    flexberry-datepicker
    placeholder='(no value)'
    readonly=readonly
    value=model.date
    class=(if model.errors.date 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.date pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-flexberry-gis-demo-request-e.urgently-caption'}}</label>
  {{
    flexberry-checkbox 
    readonly=readonly 
    value=model.urgently
  }}
  {{flexberry-validationmessage error=model.errors.urgently pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.task
    class=(if model.errors.task 'error' '')
    label=(t 'forms.i-i-s-flexberry-gis-demo-request-e.task-caption')
  }}
  {{flexberry-validationmessage error=model.errors.task pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-flexberry-gis-demo-request-e.author-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.author
    displayAttributeName='name'
    relationName='author'
    projection='AuthorL'
    title=(t 'forms.i-i-s-flexberry-gis-demo-request-e.author-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.author pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.author.name
    class=(if model.errors.author.name 'error' '')
    label=(t 'forms.i-i-s-flexberry-gis-demo-request-e.author.name-caption')
  }}
  {{flexberry-validationmessage error=model.errors.author.name pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-flexberry-gis-demo-request-e.address-caption'}}</label>
  {{
    flexberry-lookup
    choose='showLookupDialog'
    remove='removeLookupValue'
    value=model.address
    displayAttributeName='place'
    relationName='address'
    projection='AddressL'
    title=(t 'forms.i-i-s-flexberry-gis-demo-request-e.address-caption')
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.address pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=true
    required=true
    value=model.address.place
    class=(if model.errors.address.place 'error' '')
    label=(t 'forms.i-i-s-flexberry-gis-demo-request-e.address.place-caption')
  }}
  {{flexberry-validationmessage error=model.errors.address.place pointing="pointing"}}
</div>

<div class="field">
  <label>{{t 'forms.i-i-s-flexberry-gis-demo-request-e.comment-caption'}}</label>
  {{
    flexberry-groupedit
    componentName="commentGroupEdit"
    modelProjection=modelProjection.attributes.comment
    content=model.comment
    readonly=readonly
    orderable=false
    class=(if model.errors.comment 'error' '')
  }}
  {{flexberry-validationmessage error=model.errors.comment pointing="pointing"}}
</div>

</form>
